.card-wrapper {
    width: 96px;
}

.card {
    width: 96px;
    height: 60px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition-duration: .6s;
    left: 50%;
    top: 50%;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    border-radius: 3px;
    box-sizing: border-box;


}

.card-front {
    background: crimson;
    height: 100%;
}

.card-back {
    left: 50%;
    top: 50%;
    width: 296px;
    -webkit-transform: rotateY(180deg) scale(0.32432432432432434);
    background: #EAEAEA;
    border: 1px solid #fff;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    color: #222;
}

.goodie-indicator {
    background: url("../img/goodie-indicator.png") no-repeat left top;
    width: 75px;
    height: 75px;
    position: absolute;
    left: -7px;
    top: -7px;
    padding: 18px 0 0 18px;
    box-sizing: border-box;
}

.card-placeholder {
    background: none;
    border: 10px dashed #eee;
}

.card-placeholder .card-front,
.card-placeholder .card-back {
    display: none;
}

.card-title {
    font-size: 16px;
    margin-bottom: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.card-description {
    font-size: 11px;
    line-height: 13px;
    display: block;
}

.stamp-wrapper {
    margin-top: 26px;
    padding: 3px;
}

.stamp-box {
    width: 72px;
    height: 72px;
    float: left;
    box-sizing: border-box;
    border-right: 1px dashed #ccc;
    position: relative;
}

.stamp-box:nth-child(4n) {
    border-right: none;
}

.stamp-box:nth-child(n+5) {
    border-top: 1px dashed #ccc;
}

.stamp {
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, .8);
    border-radius: 10px;
    position: absolute;
    margin: -25px;
}

.card-header {
    padding: 8px 8px 8px 72px;
    margin: -1px;
}

.card-icon {
    width: 44px;
    height: 44px;
    background: #000;
}

.close-icon {
    position:  absolute;
    right: 7px;
    top: 7px;
    width: 13px;
    height: 13px;
    background: #000;
}


.type-school {
    background-image: url("../img/school.jpg");
}
.type-library {
    background-image: url("../img/library.jpg");
}
.type-pool {
    background-image: url("../img/pool.jpg");
}
.type-gym {
    background-image: url("../img/gym.jpg");
}
