html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: museo_sans500, sans-serif;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.wrapper {
    position: relative;
    width: 320px;
    margin: 0 auto;
}

.page {
    position: absolute;
    background: #0082bb url('../img/bg-intro.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: #fff;

}

.page-main {
    z-index: -1;
}

.page-main.show {
    z-index: 1;
}

.page-login .logo {
    background: url('../img/logo-intro.svg') no-repeat center center;
    text-indent: -999999px;
    display: block;
    position: absolute;
    width: 120px;
    height: 140px;
    margin: -70px 0px 0 -60px;
    left: 50%;
    top: 50%;
    -webkit-transition: .25s;
}

.page-login .form {
    position: absolute;
    width: 236px;
    height: 92px;
    margin: -46px -118px;
    left: 50%;
    top: 50%;
    opacity: 0;
    -webkit-transition: .25s;
    -webkit-transform: translate3d(0, 100px, 0);
}

.page-login .form button {
    display: block;
    height: 40px;
    width: 100%;
    margin: 0;
    color: #FFF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    border: 1px solid #155484;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-appearance: none;
    font-size: 14px;
    line-height: 29px;
}

.page-login .form button.button-facebook {
    background: #3d5a9a url('../img/img-fb-button.png') center left no-repeat;
    background-size: 51px;
    margin-bottom: 25px;
    text-align: left;
    padding-left: 54px;
}

.page-login .form button.button-foursquare {
    background: #2065AD;
    margin-top: 25px;
    text-align: center;
}

.page-login .form button.button-foursquare img {
    width: 77px;
    height: 22px;
    display: inline-block;
    margin: 0 0 -6px 0;
}

.page-login[data-state="login"] .logo {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
}

.page-login[data-state="login"] .form {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
}

.page-login .loader {
    position: absolute;
    width: 48px;
    height: 48px;
    margin: -24px;
    left: 50%;
    top: 50%;
    opacity: 0;
    background: #fff url('../img/loader.gif') no-repeat center;
    border-radius: 30px;
    -webkit-transition: .25s;
}

.page-login[data-state="loading"] .logo {
    display: none;
    -webkit-transition-duration: 0s;
}

.page-login[data-state="loading"] .loader {
    opacity: 1;
}

/*______________Main Page___________*/
.page-main .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    width: 100%;
    background-color: #0082bb;
    z-index: 5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 1px rgba(0, 0, 0, .05);
}

.page-main .header .ditzoLogo {
    height: 48px;
}

.page-main .header #settings {
    position: absolute;
    float: right;
    top: 0px;
    right: 00px;
    height: 46px;
    width: 74px;
    background: #00688c;
}

.page-main .header #settings .cog {
    position: absolute;
    height: 21px;

    -webkit-transition-duration: 0.75s;
}

.page-main .header #settings .cog1 {
    left: 26px;
    height: 18px;
    top: 5px;
}

.page-main .header #settings .cog2 {
    left: 41px;
    top: 13px;
}

.page-main .header #settings .cog3 {
    left: 15px;
    top: 20px;
}

.page-main .header #settings.hammer-touch {
    -webkit-transform: scale(1);
    background: rgba(0, 104, 140, 0.5);
    -webkit-transition-duration: 0.1;
}

.page-main[data-state="settings"] .cog {
    -webkit-transform: rotate(360deg);
}

.page-main[data-state="settings"] .cog1 {
    -webkit-transform: rotate(-360deg);
}

.page-main .header #settings .settings-frame {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.page-main .main {
    position: relative;
    width: 320px;
    margin: 0 auto;
    margin-top: 0;
    background-color: #000;
    z-index: 1;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    padding: 48px 0 0;
    box-sizing: border-box;
}

.content-main {
    z-index: 2;
    background-color: #0082bb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
    -webkit-transition: .75s;
}

.page-main[data-state="settings"] .content-main {
    -webkit-transform: translate3d(0, -100%, 0);
}

.hammer-tappable {
    -webkit-transition: .25s;
}

.hammer-touch {
    -webkit-transform: scale(.95);
}

.wrapper {
    width: 320px;
    position: relative;
    margin: 0 auto;
}

.scrollable {
    top: 48px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    position: absolute;
    -webkit-overflow-scrolling: touch;

}

textarea:focus, input:focus {
    outline: 0;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    -webkit-transition: opacity .2s;
    display: none;
    z-index: 100;
    -webkit-perspective: 2000;
    padding: 0;
}

.overlay .card-wrapper {
    -webkit-transform-style: keep-perspective;
    -webkit-perspective: 2000;
}

.overlay .card-wrapper {
    position: relative;
    margin: 0 auto;
}

#card-container {
    width: 312px !important;
}

.overlay .card {
    left: 50%;
    top: 50%;
    position: absolute;
}

.overlay .scrollable {
    top: 0;
}
