app/includes/config.php
app/composer.lock
app/vendor

simulate/facebook/config.php
simulate/facebook/postData.txt
simulate/facebook/postData.json
simulate/facebook/testData.json
simulate/facebook/data.json

simulate/foursquare/config.php

# Composer
simulate/vendor
simulate/composer.lock

#
# OS X
#

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes



#
# Windows
#

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/



#
# PhpStorm
#

*.iml
*.ipr
*.iws
.idea/

*.espressostorage
