html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body.loading * {
    -webkit-transition: none;
}

.navbar {
    height: 44px;
    background: #00afe5;
    color: #fff;
}

.wrapper {
    position: relative;
    width: 320px;
    margin: 0 auto;
}

#card-container {
    padding: 4px;
}

.card {
    background: #eee;
    border: 1px solid #ddd;
    width: 96px;
    height: 60px;
}

.card-wrapper {
    padding: 4px;
}

.card-placeholder {
    background: none;
    border: 3px dashed #eee;
}